.bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.box {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px hsl(0deg 0% 73%);
}

body {
    background-color:  hsl(0deg 0% 95%);;
    display: flex;
    justify-content: center;
    margin: auto;
}

h1 {
    color: hsl(0deg 32% 90%);
    margin: auto;
    font-size: 100px;
    font-weight: 100;
}
span {
    font-size: 12px;
    padding: 3%;
}
